<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ASPNETCORE_ENVIRONMENT" value="Production" />
	</appSettings>

	<location path="." inheritInChildApplications="true">
		<system.webServer>
			<handlers>
				<remove name="WebDAV" /> <!-- use <clear/> or this for allow put & delete mothods -->
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<modules>
				<remove name="WebDAVModule" /> <!--  allow put & delete mothods -->
			</modules>
			<aspNetCore processPath="dotnet" arguments=".\PowerShellWebService.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="SQL_TABLE" value="Log" />
					<environmentVariable name="SQL_CONNECTION_STRING" value="Server=localhost;Database=PowerShellWebService;Connection Timeout=5;Integrated Security=false;User=;Password=" />
				</environmentVariables>
			</aspNetCore>
			<security> <authentication> <anonymousAuthentication enabled="false" /> <windowsAuthentication enabled="true" /> <basicAuthentication enabled="true" /> </authentication> </security>
		</system.webServer>
	</location>

	<location path="wwwroot">
		<system.webServer>
			<security> <authentication> <anonymousAuthentication enabled="true" /> <windowsAuthentication enabled="false" /> <basicAuthentication enabled="false" /> </authentication> </security>
		</system.webServer>
	</location>
	
	<location path="api/.public">
		<system.webServer>
			<security> <authentication> <anonymousAuthentication enabled="true" /> <windowsAuthentication enabled="false" /> <basicAuthentication enabled="false" /> </authentication> </security>
		</system.webServer>
	</location>
	
</configuration>

<!--ProjectGuid: b856cd4d-4a60-4f16-ab17-4d921d089412-->
