html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #eeeeee;
}

input, select, button, span {
  margin-bottom: 4px;
}

.btn:focus, .btn:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#LEFT {
  z-index:1;
  padding: 25px;
}

#RIGHT {
  z-index:1000;
  padding: 25px;
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.7);
}

._result_error {
  border-color: rgba(255, 0, 0, 0.8);
  border-width: 3px;
  box-shadow: 0 1px 2px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.7);
}

._result_success {
  border-color: rgba(0, 255, 0, 0.8);
  border-width: 3px;
  box-shadow: 0 1px 2px rgba(103, 229, 23, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.7);
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}
.border-danger {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
}

#Result {
  position: relative;
}

._btn_copy {
  position: absolute; 
  top: 15px; 
  right: 25px;
}

#_result {
  overflow: hidden;
}

#_result:focus, #_result:hover {
  overflow: auto;
}

.modal-body {
  border-radius: 5px;
  border-collapse: collapse;
}

.modal-body tr {
  border: 1px solid #ddd;
  padding: 2px 5px;
  border-radius: 5px;
  border-collapse: collapse;
}

.modal-body tr:nth-child(2n) { /* чётные */
  background: #eee;
}

.modal-body table table:first-child tr>td:first-child {
  font-weight: bold;
}
