@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
@* <h1>@ViewData["Title"]</h1> *@

@if (!@User.Identity.IsAuthenticated) {
    <h3>Is not Authenticated!</h3>
} else {
    @if (@Model.UserIsInRoleUser) {
        <p>UserIsInRoleUser</p>
    }
    @if (@Model.UserIsInRoleAdmin) {
        <p>UserIsInRoleAdmin</p>
    }
}